html(class='rtlClass' dir="rtl")
  head
    title= "הרשמה"
  body
    form(method='post' action='/api/users/createStudentAccount')
        p שם פרטי
        input(type="text" id="firstName" name="firstName")
        p שם משפחה
        input(type="text" id="lastName" name="lastName")
        p אימייל
        input(type="email" id="email" name="email")
        p סיסמא
        input(type="password" id="password" name="password")
        p כינוי
        input(type="text" id="userName" name="userName")
        br
        br 
        button(type='submit') הירשם