doctype html
html(dir="rtl")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
      function findWords(deliveryID){
        alert("here");
      }
  body
    h1= title
    button(onclick="findWords();") מצא מילים  