#findelTheme{
    margin-bottom: 5px;
    align-self: center;
    width:200px;
    height:100px;
    max-width:50%;
    max-height:25%;
}

#searchBTN{
    margin-right: 2px;
}

#simple_search_radio_button{
    margin-right: 20px;
}

#show_more_content_button{
    cursor: pointer;
}
#exContents{
    margin-top: 10px;
}

#add_page_to_topic_url_input{
    text-align: left;
}

.search_box_div{
    min-height: 170px;
}

.add_content_and_pages_div{
    text-align: right;
}

.add_page_to_topic_div{
    margin-right: 2px;
    padding-bottom: 2px;
}

.add_topic_to_topic_div{
    margin-right: 2px;
    margin-bottom: 2px;
}